.error {
    background-color: rgb(230, 195, 195);
}

.home {
    text-align: center;
    font-size: 170px;
    font-style: italic;
    font-weight: bold;
}

.sub {
    text-align: center;
    color: honeydew;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    color: honeydew;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg {
    background-image: url(../images/joe-hernandez-OebdsI0Q4F0-unsplash.jpg);
    background-color: grey;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

