<h1>hello</h1>

<form method="POST" action="/signup">
    Username:<input type="text" name="user[username]"><br>
    Password:<input type="password" name="user[password]"><br>
    Password:<input type="password" name="user[password_confirmation]"><br>
    <input type="submit" value="Create Account">
</form>