<h1>Your Favorite Wrestlers</h1>

<ul>
<% @wrestlers.each do |wrestler| %>
    <li>
        <a href="/wrestlers/<%= wrestler.id %>">
        <%= wrestler.name %>
        </a>
    </li>
    <% end %>
</ul>
