<div class="create">
    <h2 class="new">Create A New Wrestler</h2>
    <form method="POST" action="/wrestlers">
        <input type="text" name="wrestler[name]" placeholder="Name"><br>
        <input type="text" name="wrestler[hails_from]" placeholder="From"><br>
        <input type="text" name="wrestler[birthdate]" placeholder="Birthdate"><br>
        <textarea name="wrestler[belt]" placeholder="Belt(s)"></textarea><br>
        <textarea name="wrestler[special_move]" placeholder="Special Move(s)"></textarea><br>
        <input type="submit" value="Create">
    </form>
</div>