<h2>Create A New Wrestler</h2>
<form method="POST" action="/wrestlers">
    <input type="text" name="wrestler[name]" placeholder="Name">
    <input type="text" name="wrestler[hails_from]" placeholder="From">
    <input type="text" name="wrestler[birthdate]" placeholder="Birthdate">
    <input type="text" name="wrestler[belt]" placeholder="Belt(s)">
    <input type="text" name="wrestler[special_move]" placeholder="Special Move(s)">
    <input type="submit" value="Create">
</form>